<template name="charts">
  <div class="template-charts">
    <div class="container" id="main_container">
      <h3 style="text-align: center; font-weight: bold;">{{device.name}}</h3>
      <ul class="nav nav-tabs">
        {{#each sensors}}
          <li class="{{active @index}}">
             <a data-toggle="tab" href="#tab{{_id}}">{{name}}</a>
          </li>
        {{/each}}
      </ul>
      <div class="tab-content">
        {{#each sensors}}
          <div id="tab{{_id}}" class="tab-pane fade in {{active @index}}">

            <div class="row">
              <div class="col-md-6 col-xs-6 text-center">
                Last measurement: <span class="label label-default">{{last_measurement id owner}}</span>
              </div>
              <div class="col-md-6 col-xs-6 text-center">
                Last update:  <span class="label {{date_style id owner}}">{{last_date id owner}}</span>
              </div>
            </div>

            <div id="{{_id}}" class="chart">
                {{dataChart _id id owner}}
            </div>
          </div>
        {{/each}}
      </div>

    </div>
  </div>
</template>
