<template name="charts">
  <div class="template-charts">
    <div class="container" id="main_container">
      <h3 style="text-align: center; font-weight: bold;">{{device.name}}</h3>
      <ul class="nav nav-tabs">
        {{#each sensors}}
          {{#if $eq @index 0}}
            <li class="active">
               <a data-toggle="tab" href="#tab{{_id}}">{{name}}</a>
            </li>
          {{else}}
            <li>
               <a data-toggle="tab" href="#tab{{_id}}">{{name}}</a>
            </li>
          {{/if}}
        {{/each}}
      </ul>
      <div class="tab-content">
        {{#each sensors}}
          {{#if $eq @index 0}}
            <div id="tab{{_id}}" class="tab-pane fade in active">
              <div id="{{_id}}" class="chart">
                  {{dataChart _id id owner}}
              </div>
            </div>
          {{else}}
            <div id="tab{{_id}}" class="tab-pane fade">
              <div id="{{_id}}" class="chart">
                  {{dataChart _id id owner}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>

    </div>
  </div>
</template>
